body {
    color: #999999;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

img {
    object-fit: scale-down;
    max-width: 100%;
}

.title {
    color: #333333;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-top: 23px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 70px;
        left: 50%;
        transform: translateX(-50%);
        width: 60px;
        height: 3px;
        background-color: #f38181;
    }
}

.subtitle {
    color: #333333;
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.center__text-block {
    max-width: 954px;
    margin: 91px auto 0 auto;
    text-align: center;
}