@import "global";
@import "fonts";
.header {
    background-image: url("../img/header-bg.png");
    height: 1000px;
    color: white;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.header__menu-item {
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    transition: all 0.7s;
    position: relative;
    height: 100%;
    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        background-color: #fce38a;
        top: 23px;
        left: 0;
        opacity: 0;
        transition: all 0.7s;
    }
}

.header__menu-item:hover {
    color: #fce38a;
    &::after {
        opacity: 1;
    }
}

.header__logo {
    height: auto;
}

.container {
    max-width: 1215px;
    margin: 0 auto;
}

.header__menu {
    display: flex;
    max-width: 500px;
    width: 100%;
    justify-content: space-between;
}

.header__center {
    margin: 164px auto 0 auto;
    width: 802px;
    height: 541px;
}

.header__center-subtitle {
    color: #ffffff;
    font-family: "Kaushan Script";
    font-size: 72px;
    font-weight: 400;
    text-align: center;
}

.header__center-title {
    margin-top: 42px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 150px;
    font-weight: 700;
    line-height: 140px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        background-color: white;
        width: 60px;
        height: 3px;
        top: 320px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.header__center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 40px;
    border: 3px solid #ffffff;
    background-color: rgba($color: #000000, $alpha: 0.0);
    margin: 124px auto 0 auto;
    cursor: pointer;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    &:hover {
        border: 3px solid #f38181;
        transition: all 0.5s;
    }
}

.header__bottom-menu {
    margin-top: 157px;
    display: flex;
    justify-content: space-between;
}

.header__bottom-menu-item {
    padding-top: 25px;
    max-width: 280px;
    width: 100%;
    cursor: pointer;
    border-top: 3px solid white;
    position: relative;
    display: flex;
    justify-content: start;
    &::after {
        content: "";
        transition: all 1s;
        position: absolute;
        top: -3px;
        width: 0;
        height: 3px;
        background-color: #f38181;
    }
    &:hover {
        &::after {
            width: 100%;
        }
    }
}

.menu-item__number {
    font-family: "Montserrat - Bold";
    font-size: 24px;
    font-weight: 700;
    height: 100%;
}

.menu-item__text {
    font-family: "Montserrat - Regular";
    opacity: 0.7;
    font-size: 18px;
    font-weight: 400;
    font-weight: 400;
    padding-left: 5px;
    padding-top: 5px;
}

.about {
    padding: 91px 0 0 0;
}

.about__text {}

.about__images {
    margin-top: 101px;
    display: flex;
    justify-content: space-between;
}

.about__images-item {
    position: relative;
    cursor: pointer;
    &:hover {
        .about__images-item_hover {
            top: -10px;
            left: -10px;
            opacity: 1;
        }
    }
}

.about__images-item_hover {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: all 0.5s;
}

.hover-item__text-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hover-item__text {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.about__bottom {
    margin-top: 110px;
    width: 100%;
    background-color: #95e1d3;
}

.about__bottom-inner {
    height: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__bottom-item {
    text-align: center;
    border-left: 1px solid rgba($color: white, $alpha: 0.3);
    border-right: 1px solid rgba($color: white, $alpha: 0.3);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__botoom-number {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 72px;
    font-weight: 700;
}

.about__botoom-text {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 29px;
}

.services {
    padding: 110px 0 122px 0;
}

.services__block {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    flex-wrap: wrap;
}

.services-item {
    width: 30%;
    padding-top: 47px;
    display: flex;
    align-items: flex-start;
}

.services-item__right {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.services-item__header {
    color: #333333;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.service__block-new-line {
    margin-top: 51px;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
}

.services-item__text {
    margin-top: 18px;
}

.design {
    padding-top: 110px;
    height: 850px;
    background-image: url('../img/design-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.design__img-one {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-70%);
}

.design__img-two {
    position: absolute;
    bottom: -91px;
    left: 50%;
}

.presents {
    padding-top: 112px;
    padding-bottom: 69px;
    padding: 122px 0 69px 0;
}

.presents__skills-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 92px auto 0 auto;
    overflow: hidden;
}

.skills-block__header {
    cursor: pointer;
    max-width: 600px;
    height: 60px;
    border: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 0 16px;
}

.skills-block__item:last-child {
    .skills-block__text {
        margin-bottom: 0;
    }
}

.skills-block__header-left {
    display: flex;
    align-items: center;
}

.skills-block__header-text {
    margin-left: 15px;
    color: #333333;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.skills-block__text {
    max-width: 600px;
    height: 181px;
    padding: 20px 50px 20px 20px;
    border: 1px solid #e5e5e5;
    color: #999999;
    font-family: "Roboto - Light Italic";
    font-size: 15px;
    font-weight: 400;
    transition: all 1s;
    margin-bottom: 10px;
}

.skills-block__arrow {
    transition: all 1s;
    transform: rotateX(180deg);
}

.presents__slider-block {
    position: relative;
}

.presents__slider {
    max-width: 978px;
    margin: 190px auto 0 auto;
    position: relative;
}

.presents__slider-item {
    display: flex!important;
    flex-direction: row;
    max-width: 978px;
    width: 100%;
}

.presents__slider-left {
    max-width: 150px;
    width: 100%;
    height: 150px;
}

.presents__slider-right {
    padding-left: 61px;
}

.presents__slider-name {
    color: #333333;
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    padding-left: 69px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        width: 60px;
        height: 3px;
        background-color: #f38181;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
}

.presents__slider-text {
    color: #999999;
    font-family: "Roboto - Light Italic";
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
}

.presents__slider-left-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    cursor: pointer;
}

.presents__slider-right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
}