@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto&display=swap");
* {
  box-sizing: border-box; }

body {
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal; }

a {
  text-decoration: none;
  color: inherit;
  display: block; }

img {
  object-fit: scale-down;
  max-width: 100%;
  display: block; }

.title {
  color: #333333;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-top: 23px;
  position: relative; }
  .title::after {
    content: "";
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 3px;
    background-color: #f38181; }

.subtitle {
  color: #333333;
  font-family: "Kaushan Script";
  font-size: 24px;
  font-weight: 400;
  text-align: center; }

.center-text-block {
  max-width: 954px;
  margin: 91px auto 0 auto;
  text-align: center; }

.mCSB_scrollTools {
  right: 25px !important;
  top: 20px;
  width: 10px;
  height: 141px; }

.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #95e1d3;
  transition: all 1s; }

.mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail {
  background-color: white;
  display: none; }

.mCSB_scrollTools .mCSB_draggerContainer {
  left: 0px;
  width: 10px; }

.hide__text {
  height: 0px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border: none !important; }
  .hide__text #mCSB_1_scrollbar_vertical {
    right: 25px;
    top: 20px;
    width: 0 !important;
    height: 0 !important; }
  .hide__text .mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #95e1d3;
    height: 0; }
  .hide__text .mCSB_draggerContainer {
    display: none; }

@font-face {
  font-family: "Roboto - Light Italic";
  src: url("../fonts/Roboto-Light.ttf"); }

.header {
  background-image: url("../img/header-bg.png");
  height: 1000px;
  color: white; }

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px; }

.header__menu-item {
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  transition: all 0.7s;
  position: relative;
  height: 100%; }
  .header__menu-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    top: 23px;
    left: 0;
    opacity: 0;
    transition: all 0.7s; }

.header__menu-item:hover {
  color: #fce38a; }
  .header__menu-item:hover::after {
    opacity: 1; }

.header__logo {
  height: auto; }

.container {
  max-width: 1215px;
  margin: 0 auto; }

.header__menu {
  display: flex;
  max-width: 500px;
  width: 100%;
  justify-content: space-between; }

.header__center {
  margin: 164px auto 0 auto;
  width: 802px;
  height: 541px; }

.header__center-subtitle {
  color: #ffffff;
  font-family: "Kaushan Script";
  font-size: 72px;
  font-weight: 400;
  text-align: center; }

.header__center-title {
  margin-top: 42px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 150px;
  font-weight: 700;
  line-height: 140px;
  text-align: center;
  text-transform: uppercase;
  position: relative; }
  .header__center-title::after {
    content: "";
    position: absolute;
    background-color: white;
    width: 60px;
    height: 3px;
    top: 320px;
    left: 50%;
    transform: translateX(-50%); }

.header__center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 40px;
  border: 3px solid #ffffff;
  background-color: rgba(0, 0, 0, 0);
  margin: 124px auto 0 auto;
  cursor: pointer;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  position: relative; }
  .header__center-button:hover {
    border: 3px solid #f38181;
    transition: all 0.5s; }

.header__bottom-menu {
  margin-top: 157px;
  display: flex;
  justify-content: space-between; }

.header__bottom-menu-item {
  padding-top: 25px;
  max-width: 280px;
  width: 100%;
  cursor: pointer;
  border-top: 3px solid white;
  position: relative;
  display: flex;
  justify-content: start; }
  .header__bottom-menu-item::after {
    content: "";
    transition: all 1s;
    position: absolute;
    top: -3px;
    width: 0;
    height: 3px;
    background-color: #f38181; }
  .header__bottom-menu-item:hover::after {
    width: 100%; }

.menu-item__number {
  font-family: "Montserrat - Bold";
  font-size: 24px;
  font-weight: 700;
  height: 100%; }

.menu-item__text {
  font-family: "Montserrat - Regular";
  opacity: 0.7;
  font-size: 18px;
  font-weight: 400;
  font-weight: 400;
  padding-left: 5px;
  padding-top: 5px; }

.about {
  padding: 91px 0 0 0; }

.about__images {
  margin-top: 101px;
  display: flex;
  justify-content: space-between; }

.about__images-item {
  position: relative;
  cursor: pointer; }
  .about__images-item:hover .about__images-item_hover {
    top: -10px;
    left: -10px;
    opacity: 1; }

.about__images-item_hover {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: all 0.5s; }

.hover-item__text-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.hover-item__text {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase; }

.about__bottom {
  margin-top: 110px;
  width: 100%;
  background-color: #95e1d3; }

.about__bottom-inner {
  height: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.about__bottom-item {
  text-align: center;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.about__botoom-number {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 72px;
  font-weight: 700; }

.about__botoom-text {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 29px; }

.services {
  padding: 110px 0 122px 0; }

.services__block {
  display: flex;
  justify-content: center;
  margin-top: 64px;
  flex-wrap: wrap; }

.services-item {
  width: 30%;
  padding-top: 47px;
  display: flex;
  align-items: flex-start; }

.services-item__right {
  padding-left: 20px;
  display: flex;
  flex-direction: column; }

.services-item__header {
  color: #333333;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase; }

.service__block-new-line {
  margin-top: 51px;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5; }

.services-item__text {
  margin-top: 18px; }

.design {
  padding-top: 110px;
  height: 850px;
  background-image: url("../img/design-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative; }

.design__img-one {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-70%); }

.design__img-two {
  position: absolute;
  bottom: -91px;
  left: 50%; }

.presents {
  padding-top: 112px;
  padding-bottom: 69px;
  padding: 122px 0 69px 0; }

.presents__skills-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 92px auto 0 auto;
  overflow: hidden; }

.skills-block__header {
  cursor: pointer;
  max-width: 600px;
  height: 60px;
  border: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px 0 16px; }

.skills-block__item:last-child .skills-block__text {
  margin-bottom: 0; }

.skills-block__header-left {
  display: flex;
  align-items: center; }

.skills-block__header-text {
  margin-left: 15px;
  color: #333333;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase; }

.skills-block__text {
  max-width: 600px;
  height: 181px;
  padding: 20px 50px 20px 20px;
  border: 1px solid #e5e5e5;
  color: #999999;
  font-family: "Roboto - Light Italic";
  font-size: 15px;
  font-weight: 400;
  transition: all 1s;
  margin-bottom: 10px; }

.skills-block__arrow {
  transition: all 1s;
  transform: rotateX(180deg); }

.presents__slider-block {
  position: relative; }

.presents__slider {
  max-width: 978px;
  margin: 190px auto 0 auto;
  position: relative; }

.presents__slider-item {
  display: flex !important;
  flex-direction: row;
  max-width: 978px;
  width: 100%; }

.presents__slider-left {
  max-width: 150px;
  width: 100%;
  height: 150px; }

.presents__slider-right {
  padding-left: 61px; }

.presents__slider-name {
  color: #333333;
  font-family: "Kaushan Script";
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  padding-left: 69px;
  position: relative; }
  .presents__slider-name::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    top: 50%;
    left: 0;
    transform: translateY(-50%); }

.presents__slider-text {
  color: #999999;
  font-family: "Roboto - Light Italic";
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left; }

.presents__slider-left-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  cursor: pointer; }

.presents__slider-right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer; }

.team {
  padding: 99px 0 120px 0; }

.team__block {
  margin-top: 92px;
  display: flex;
  justify-content: space-between; }

.team__block-item {
  max-width: 390px;
  width: 100%;
  text-align: center; }

.team__block-photo {
  width: 380px;
  height: 470px;
  position: relative; }
  .team__block-photo:hover .team__item-photo__hover-block .hover-block__img-wrapper {
    opacity: 0.8; }
  .team__block-photo:hover .team__item-photo__hover-block .hover-block__links {
    opacity: 1; }

.team__item-photo__hover-block {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 380px;
  height: 470px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .team__item-photo__hover-block .hover-block__img-wrapper {
    transition: all 1s;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; }

.hover-block__links {
  transition: all 1s;
  width: 224px;
  height: 56px;
  background-color: #fce38a;
  opacity: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  color: red; }

.hover-block__link {
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  width: 25%; }
  .hover-block__link svg {
    fill: #f38181;
    transition: all 1s; }
  .hover-block__link:hover {
    background-color: #f38181; }
    .hover-block__link:hover svg {
      fill: white; }

.team__block-name {
  margin-top: 41px;
  color: #333333;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase; }

.team__block-profession {
  margin-top: 15px;
  color: #999999;
  font-family: "Roboto - Light Italic";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; }

.team__logos {
  display: flex;
  margin-top: 168px;
  justify-content: space-between;
  width: 100%; }

.work {
  padding: 110px 0 159px 0; }

.work__example {
  margin-top: 102px;
  margin: 102px auto 0 auto;
  max-width: 1920px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; }

.work__example-item {
  position: relative; }

.work__example-item:nth-child(3) {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 3; }

.work__example-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center; }
  .work__example-wrapper:hover {
    opacity: 1; }
    .work__example-wrapper:hover .work__example-wrapper-bg {
      opacity: 0.7; }
  .work__example-wrapper .work__example-wrapper-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0;
    object-fit: cover;
    transition: all 1s;
    z-index: -1; }
  .work__example-wrapper .wrapper-block__inner {
    display: flex;
    flex-direction: column;
    transform: translateY(20%); }
  .work__example-wrapper .wrapper-block__text {
    margin-top: 20px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center; }
  .work__example-wrapper .wrapper-block__text-two {
    margin-top: 17px;
    color: #ffffff;
    font-family: "Roboto - Light Italic";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center; }

.work__slider-block {
  position: relative; }

.work__slider {
  max-width: 978px;
  margin: 190px auto 0 auto;
  position: relative; }

.work__slider-item {
  display: flex !important;
  flex-direction: row;
  max-width: 978px;
  width: 100%; }

.work__slider-left {
  max-width: 150px;
  width: 100%;
  height: 150px; }

.work__slider-right {
  padding-left: 61px; }

.work__slider-name {
  color: #333333;
  font-family: "Kaushan Script";
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  padding-left: 69px;
  position: relative; }
  .work__slider-name::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    top: 50%;
    left: 0;
    transform: translateY(-50%); }

.work__slider-text {
  color: #999999;
  font-family: "Roboto - Light Italic";
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left; }

.work__slider-left-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  cursor: pointer; }

.work__slider-right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer; }
