@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto&display=swap");
body {
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit;
  display: block; }

.title {
  color: #333333;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-top: 23px; }

.subtitle {
  color: #333333;
  font-family: "Kaushan Script";
  font-size: 24px;
  font-weight: 400;
  text-align: center; }

.center__text-block {
  width: 954px;
  margin: 91px auto 0 auto;
  text-align: center; }

@font-face {
  font-family: "Roboto - Light Italic";
  src: url("../fonts/Roboto-Light.ttf"); }

.header {
  background-image: url("../img/header-bg.png");
  height: 1000px;
  color: white; }

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px; }

.header__menu-item {
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  transition: all 0.7s;
  position: relative;
  height: 100%; }
  .header__menu-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    top: 23px;
    left: 0;
    opacity: 0;
    transition: all 0.7s; }

.header__menu-item:hover {
  color: #fce38a; }
  .header__menu-item:hover::after {
    opacity: 1; }

.header__logo {
  height: auto; }

.container {
  max-width: 1215px;
  margin: 0 auto; }

.header__menu {
  display: flex;
  max-width: 500px;
  width: 100%;
  justify-content: space-between; }

.header__center {
  margin: 164px auto 0 auto;
  width: 802px;
  height: 541px; }

.header__center-subtitle {
  color: #ffffff;
  font-family: "Kaushan Script";
  font-size: 72px;
  font-weight: 400;
  text-align: center; }

.header__center-title {
  margin-top: 42px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 150px;
  font-weight: 700;
  line-height: 140px;
  text-align: center;
  text-transform: uppercase;
  position: relative; }
  .header__center-title::after {
    content: "";
    position: absolute;
    background-color: white;
    width: 60px;
    height: 3px;
    top: 320px;
    left: 50%;
    transform: translateX(-50%); }

.header__center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 40px;
  border: 3px solid #ffffff;
  background-color: rgba(0, 0, 0, 0);
  margin: 124px auto 0 auto;
  cursor: pointer;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  position: relative; }
  .header__center-button:hover {
    border: 3px solid #f38181;
    transition: all 0.5s; }

.header__bottom-menu {
  margin-top: 157px;
  display: flex;
  justify-content: space-between; }

.header__bottom-menu-item {
  padding-top: 25px;
  max-width: 280px;
  width: 100%;
  cursor: pointer;
  border-top: 3px solid white;
  position: relative;
  display: flex;
  justify-content: start; }
  .header__bottom-menu-item::after {
    content: "";
    transition: all 1s;
    position: absolute;
    top: -3px;
    width: 0;
    height: 3px;
    background-color: #f38181; }
  .header__bottom-menu-item:hover::after {
    width: 100%; }

.menu-item__number {
  font-family: "Montserrat - Bold";
  font-size: 24px;
  font-weight: 700;
  height: 100%; }

.menu-item__text {
  font-family: "Montserrat - Regular";
  opacity: 0.7;
  font-size: 18px;
  font-weight: 400;
  font-weight: 400;
  padding-left: 5px;
  padding-top: 5px; }

.about {
  padding: 91px 0 0 0; }

.about__images {
  margin-top: 101px;
  display: flex;
  justify-content: space-between; }

.about__images-item {
  position: relative;
  cursor: pointer; }
  .about__images-item:hover .about__images-item_hover {
    top: -10px;
    left: -10px;
    opacity: 1; }

.about__images-item_hover {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: all 0.5s; }

.hover-item__text-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.hover-item__text {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase; }

.about__bottom {
  margin-top: 110px;
  width: 100%;
  background-color: #95e1d3; }

.about__bottom-inner {
  height: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.about__bottom-item {
  text-align: center;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.about__botoom-number {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 72px;
  font-weight: 700; }

.about__botoom-text {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase; }
